html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.navigation {
    background-color: lightblue;
    overflow: hidden;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.navigation ul a:hover {
    background-color: #8bcee4;
    color: white;
}



.navigation a {
    float: right;
    display: block;
    text-align: center;
    padding: 16px 14px;
    text-decoration: none;
    font-size: 17px;
    color: white;
}

.navigation li:last-child {
    margin-left: auto;
}

.navigation .floatRight a {
    float: right;
    margin-left: auto;
}

.navigation .title {
    color: white;
    padding: 16px 14px;
    text-decoration: none;
    font-size: 25px;

    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





.bodyContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 800px;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;

}

.chatBody {
    border: solid 1px #ADD8E6;
    color: black;
    width: 70%;
    height: 600px;
    overflow: hidden;
    max-height: 600px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}

.bodyText {
    border: none;
    color: black;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.bodyText ul {
    list-style: none;
    padding-left: 0;
    margin-block: 0;
}

.bodyText li {
    height: auto;
    word-wrap: break-word;
    margin: 15px;
    padding: 15px;
    background-color: #ADD8E6;
    border-radius: 8px;
    width: fit-content;
    max-width: 60%;

}



.bodyText .userMessage {
    text-align: end;
    margin-left: auto;
    color: white;

}

.bodyText .receiverMessage {
    text-align: start;
    margin-right: auto;
    background-color: white;
    border: 1px solid #ADD8E6;
}

.bodyText li:last-child {
    border: none;
}

.sidebar {
    color: black;
    width: 20%;
    overflow: hidden;
    max-height: 600px;
    min-width: fit-content;
    margin-right: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;


}

.sidebar .contactsToggle button {
    margin-bottom: 10px;
    border-radius: 8px;
}

.contactsContainer {
    border: solid 1px #ADD8E6;
    color: black;
    height: 600px;
    overflow: hidden;
    max-height: 600px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.contactsContainer ul {
    margin: none;
    list-style-type: none;
    padding-left: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.contactsContainer li {
    font-size: 1em;
    word-wrap: break-word;
    border: none;
    border-bottom: solid 1px lightblue;
    margin-left: 0;
    padding: 5px;
}


.activeContact {
    background-color: #ADD8E6;
    color: white;
}

.contacts li a {
    display: block;
    padding: 10px 0;
}

a {
    cursor: pointer;
}


.contacts {
    overflow: auto;
}



.inputForm {
    margin-top: auto;
}

.inputForm form {
    display: flex;
    flex-direction: column;
}

.inputForm input {
    border: none;
    height: 30px;
    border-top: solid 1px lightblue;
}

.inputForm button {
    border: solid 1px lightblue;
    background-color: lightblue;
    color: white;
    cursor: pointer;
    height: 30px;
}

.contactsToggle button {
    border: solid 1px lightblue;
    background-color: lightblue;
    color: white;
    cursor: pointer;
    height: 30px;
    width: 100%;
}

.contactRequest {}

.contactRequest .contactName {
    width: 100%;
    padding-top: 10px;
    margin: 0;

}

.contactRequest button {

    cursor: pointer;
    width: 50%;
    height: 30px;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 3px;
}

.contactRequest button.acceptRequest:hover {
    background-color: lightblue;
    transition: 1s;
}

.contactRequest button.declineRequest:hover {
    background-color: red;
    transition: 1s;
}

.contactRequest .acceptRequest {
    border: solid 1px lightblue;
    background-color: white;

}

.contactRequest .declineRequest {
    border: solid 1px red;
    background-color: white;
}

.contactRequestButtons {
    margin: 5%;
}